<template>
  <div class="block" v-bind:class="{invalid: invalid_block == block.index && invalid_block > 0}">
    <div class="form-group block-row" v-bind:class="{first: block.index > 0}">
      <p>Previous Hash: {{block.previousHash}}</p>
      <input type="text" class="form-control" v-model="block.previousHash" v-bind:disabled="block.index == 0">
    </div>
    
    <div class="form-group block-row">
      <p>Index: {{block.index}}</p>
      <input type="text" class="form-control" v-model="block.index" v-bind:disabled="block.index == 0">            
    </div>
    
    <div class="form-group block-row">
      <p>Data: {{JSON.stringify(block.data, null, 4)}}</p>
      <textarea type="text" class="form-control" v-model="block.data" v-bind:disabled="block.index == 0"></textarea>
    </div>

    <div class="form-group block-row">
      <p>Timestamp: {{block.timestamp}} - ({{new Date(block.timestamp)}})</p>
      <input type="text" class="form-control" v-model="block.timestamp" v-bind:disabled="block.index == 0">
    </div>
    
    <div class="form-group block-row last">
      <p>Hash: {{block.hash}}</p>
      <input type="text" class="form-control" v-bind:disabled="block.index == 0" v-model="block.hash" >
    </div>

  </div>
</template>

<script>
export default {
  name: 'Block',
  props:['block', 'invalid_block'],
  data () {
    return {
      message: 'Im a Block component',

    }
  }
}
</script>

<style>

.block{
  border-radius: 10px;
  padding: 0.2rem;
  border: 5px solid azure;
  margin: 0.3rem 0;
}

.block-row{
  padding: 0.3rem;
}

.invalid{
  border: 5px solid red;
}
.last{
  border-top: 5px solid rgb(248, 255, 146);
  border-left: 5px solid rgb(248, 255, 146);
  border-right: 5px solid rgb(248, 255, 146);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 1rem;

}
.first{
  border-bottom: 5px solid rgb(248, 255, 146);
  border-left: 5px solid rgb(248, 255, 146);
  border-right: 5px solid rgb(248, 255, 146);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;  
  margin-bottom: 1rem;

}

</style>
