<template>
  <div  class="blockchain valid">
    <h1>I'm a Blockchain</h1>
    <p>{{message}}</p>
    <p class="lead" v-show="invalid_block > 0">The block {{invalid_block}} is incorrect!!</p>
    <button type="button" class="btn btn-info" @click="initChain()" v-show="!initialized">Add Genesis Block</button>
    <button type="button" class="btn btn-info" @click="validateChain()" v-show="blockchain.chain.length > 1">Validate</button>
    <div class="block initial form-group" v-show="initialized">
      <p>New Block</p>
      <textarea class="form-control" rows="5" cols="30" v-model="new_block.data" placeholder="Data for the new block"></textarea>
      <button type="button" class="btn btn-primary mt-2" @click="addBlock()" v-show="initialized && invalid_block == 0">Add Block</button>
    </div>

    <block v-for="block in blockchain.chain" v-bind:block="block" v-bind:invalid_block="invalid_block" v-bind:key="block.index"></block>

  </div>
</template>
<script>
//import other components
import block from './block.vue';

//import JS classes
import Blockchain from '../Blockchain'
import Block from '../Block'

export default { 
  data(){
    return{
      message: 'I have no Blocks :( Add some!',
      blockchain: {
        chain: []
      },
      initialized: false,
      invalid_block: 0,
      new_block:{
        data:''
      }
    };
  },

  methods:{
    initChain(){
      console.log('Initializing chain...');
      this.blockchain = new Blockchain;
      this.initialized = true;
      this.message = 'Yay! I have ' + this.blockchain.chain.length + ' Blocks!';
    },
    addBlock(){
      console.log('Adding block...');
      this.blockchain.addBlock(new Block('', this.new_block.data ));
      this.new_block.data = '';
      this.message = 'Yay! I have ' + this.blockchain.chain.length + ' Blocks!';

    },
    validateChain(){
      console.log('Analysing blockchain...');
      this.invalid_block = this.blockchain.isValid();
    }
  },

  mounted(){
  },
  
  name: 'Chain',
  components: {
    block
  }

}
</script>

<style scoped>
.blockchain{
  padding: 0.4rem;
  border-radius: 10px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.uninitiated{
  background-color: white;
}
.invalid{
  background-color: rgb(255, 146, 146);
  border: 5px solid red;
}
.valid{
  background-color: rgb(170, 253, 245);
  border: 5px solid turquoise;

}
.initial{
    border: 5px solid azure;

}
</style>

